div.jwplayer-dimmer {
	position: absolute;
	top: 0;
	height: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #444;
	z-index: 999998;
	opacity: .33;
}

.jwplayer-error {
	color: red;
}

/*h3.jwplayer-media-title {
	padding: 0 15px;
}

#jwplayer-video-box .inside {
	margin: 0;
}

#jwplayer-video-box #jwplayer-list-wrapper {
	padding: 15px 0;
}

#media-upload #jwplayer-video-box #jwplayer-list-wrapper {
	padding: 15px;
	max-width: 500px;
}

#jwplayer-video-list {
	margin: 12px 2px 0 2px;
}

#jwplayer-video-list p {
	margin-left: 5px;
}

#jwplayer-video-list li {
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 25px;
	margin-bottom: 1px;
	padding: 1px 0 4px 55px;
	position: relative;
}

#jwplayer-video-list li.jwplayer-failed {
	cursor: default;
}

#jwplayer-video-list li.jwplayer-odd {
	background-color: #fff;
}

#jwplayer-video-list li.jwplayer-even {
	background-color: #e9f2f8;
}

#jwplayer-video-list li p {
	display: block;
	height: 18px;
	margin-left: 0;
	margin-top: 4px;
	overflow: hidden;
	padding-right: 7px;
}

*/

.jwplayer-busy * {
	cursor: wait;
}

.jwplayer-upload-window {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 400px;
	margin: -100px 0 0 -200px;
	background: #eaeaea;
	-webkit-box-shadow: 3px 3px 2px 0 #999;
	box-shadow: 3px 3px 2px 0 #999;
	z-index:999999;
	padding: 0;
	border: none;
}

.jwplayer-upload-window div.clear {
	clear: both;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: none;
}

.jwplayer-upload-window .inside {
	padding: 5px 20px;
	margin: 0;
}

.jwplayer-upload-window form {
	padding: 0;
	margin: 0;
}

.jwplayer-upload-window p {
	padding: 5px 0;
}

.jwplayer-upload-window .jwplayer-message {
	padding: 5px 0 15px 0;
}

.jwplayer-upload-window label {
	display: inline-block;
	width: 100px;
}

.jwplayer-upload-window > h3 {
	padding: 10px 20px;
	margin: 0;
	background: #444;
	color: #fff;
	font-weight: normal;
}

.jwplayer-upload-window input {
	width: 250px;
}

.jwplayer-upload-window .button-primary,
.jwplayer-addmedia-submit,
.jwplayer-upload-submit {
	margin: 5px 0 5px 105px;
	width: initial;
}

.jwplayer-pause {
	float: right;
	width: initial;
}

.jwplayer-upload-window:hover > .handlediv {
	background: url("../img/close.png") no-repeat 1px 14px transparent !important;
}

.jwplayer-progress-bar {
	float: left;
	width: 250px;
	height: 10px;
	background: #fff;
	display: none;
	margin: 8px 0 0 0;
}

.jwplayer-progress-bar > .jwplayer-progress {
	width: 0;
	height: 10px;
	background: #0074BD;
}

table.compat-attachment-fields tr.compat-field-jwplayer_media_sync th.label {
	vertical-align: top;
	padding-top: 1px;
}


/* Widget */
div.jwplayer-widget-div {
	margin: 10px 0;
}

div.jwplayer-widget-div h4 {
	font-size: 105%;
	padding: 0;
	margin: 8px 0;
}

select#jwplayer-player-select {
	width: 100%;
}

ul.jwplayer-tab-select {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.jwplayer-tab-select li {
	display: inline-block;
	padding: 5px 8px 6px 8px;
	margin-bottom: 0;
	border: solid 1px #dedede;
	border-bottom: none;
	background: #f5f5f5;
}

ul.jwplayer-tab-select li.jwplayer-off {
	background: #ebebeb;
	border: solid 1px #dedede;
	padding: 5px 8px;
}

ul.jwplayer-tab-select  li.jwplayer-off:hover {
	cursor: pointer;
	background: #dedede;
}

div.jwplayer-tab {
	margin: 0;
	padding: 0;
	margin-top: -1px;
	border: solid 1px #dedede;
}

div#jwplayer-tab-choose {
	background: #fff;
}

div#jwplayer-tab-add {
	background: #f5f5f5;
}

div.jwplayer-tab.jwplayer-off {
	display: none;
}

div.jwplayer-tab div.jwplayer-tab-search {
	margin: 0;
	padding: 8px;
	background: #f5f5f5;
	border-bottom: solid 1px #dedede;
}

div.jwplayer-tab div.jwplayer-tab-search input {
	width: 99%;
	background: #fff url('../img/search.png') no-repeat right center;
	padding-right: 20px;
}

div.jwplayer-tab ul {
	margin: 0;
	padding: 8px;
	background: #fff;
}

div.jwplayer-tab ul li {
	background-position: left top;
	background-repeat: no-repeat;
	/*cursor: pointer;*/
	display: block;
	height: 24px;
	margin-bottom: 1px;
	padding: 6px 0 0 50px;
	position: relative;
}

div.jwplayer-tab ul li.jwplayer-failed {
	cursor: default;
}

div.jwplayer-tab ul li.jwplayer-odd {
	background-color: #fff;
}

div.jwplayer-tab ul li.jwplayer-even {
	background-color: #e9f2f8;
}

div.jwplayer-tab ul li span.button-primary {
	display: none;
	font-size: 11px;
	height: 23px;
	line-height: 21px;
	position: absolute;
	top: 3px;
	right: 3px;
}

div.jwplayer-tab ul li:hover span.button-primary {
	display: block;
}


div#jwplayer-tab-add p {
	margin: 20px 30px;
	padding: 0;
	font-style: italic;
	text-align: center;
	color: #666;
}

div#jwplayer-tab-add div {
	margin: 20px 30px;
	text-align: center;
}
